@import '../colors/colors.scss';
@import '../mixins/mixins.scss';

$size:1rem;
$letter-spacing:0.09em;
$navabr-font:'Roboto', sans-serif;
$heading-font-one:'Montserrat', sans-serif;
$heading-font-two:'Playfair Display', serif;
$paragraph-font-one: 'Raleway', sans-serif;
$paragraph-font-two: 'Open Sans', sans-serif;


