@import '/styles/variables/variable.scss';

.social__connect__section {


  width: 100%;
  height: auto;
  display: grid;
  place-items: center;

  .social__connect__wrapper {



    width: 100%;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    h4 {
      margin-bottom: 12px;

      @include headingColor;
      text-transform: uppercase;
      font-size: 1.5rem;

    }

    h6 {
      @include subHeading;
  
    }

    .social__body__section {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 1.5rem;

      @include max-screen($Small) {
        grid-template-columns: repeat(1, auto);
      }

      @include min-screen($Small) {
        grid-template-columns: repeat(2, auto);
      }

      @include min-screen($Large) {
        grid-template-columns: repeat(3, auto);
      }




    }

    .social__media__btn {
      width: 250px;

      .btn__social {
        font-size: 0.7rem;
        display: flex;
        align-self: center;
        justify-content: space-around;
        background-color: #EA4C89;
        align-items: center;
        width: 100%;
        padding: 15px;
      
         color: #ffffff;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        font-weight: 700;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-family: $heading-font-two;
        letter-spacing: 0.05rem;

        &:hover {

          transform: scale(.9);
          opacity: .9;
        }

        .icon__btn {
          font-size: 1.5rem;
        }

        .social__title {
          text-transform: uppercase;

          font-size: 1rem;



        }


      }
    }
  }
}







